@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins&family=Raleway:wght@300;400&family=Roboto:wght@500&display=swap');

* {
    font-family: "Poppins", sans-serif;
}
 
#image {
    width: 500px;
    height: 350px;
    border-radius: 3px;
    border: solid 1px #52b547;
    box-shadow: inset;
}
.svg-container {
    position: relative;
    height: 650px;
    width: 700px;
}
h1 {
    transform: translate(20px);
    font-family: Poppins, sans-serif;
}

#svg3 {
    transition: transform 0.2s ease-in-out;
        cursor:pointer;

}
#svg3:hover {
    transform: scale(1.12) translateY(-35px) translateX(-45px)
}


#svg2 {
    transition: transform 0.2s ease-in-out;
    cursor:pointer;

}
#svg2:hover {
    transform: scale(1.12) translateY(3px) translateX(20px)
}

#svg1 {
    transition: transform 0.2s ease-in-out;
    cursor:pointer;
}

#svg1:hover {
    transform-origin: left-center;
    transform: scale(1.12) translateY(10px) translateX(-40px)
}

#title {
    font-weight: bold;
    color: black;
    font-size: 45px;
}

#svg-section {
    margin-top: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translate(660px, 50px);
    width: 100%;
    height: 100%;

}

.svg-container {
    /* position: relative; */
    transition: transform 0.3s, top ease 0.5s;
    transition: margin-left 0.3s;
    width: 700px;
    height: 500px;
}

.left {
    margin-left: -30%;
    height: 800px;
    margin-bottom: 20px;
}


.new{
    -webkit-transform: scale(1);
    -webkit-transition:.3s;
    transform: scale(1);
    transition:.3s;
    align-self: center;
    transition: ease 0.3s;
}

.new:hover{
    fill: aqua;
    -webkit-transform: scale(1.5);
  
    -webkit-transition:.3s;
    transform: scale(1.5);
    transition:.3s;
    
    cursor:pointer;
}


.drawer-right {
    right: -60vw;
    opacity: 0;
    pointer-events: none;
}

.drawer-right {
    border-radius: 5px;
    background-color: #ddffd9;
    right: -60vw;
    width: 60vw;
    height: 100%;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s cubic-bezier(.97, .1, .18, .99), opacity 0.3s;
    overflow-y: auto;
    overflow-x: hidden;
}
#cTitle {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawer-right--close {
    /* Existing properties */
    transition: right 0.3s cubic-bezier(.97, .1, .18, .99), opacity 0.3s;
}

.open {
    opacity: 1;
    right: 0;
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    display: none;
}

.drawer-content {
    margin-left: 20px;
}
.image-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
video {
    width: 300px;
    border:solid 1px #52b547;
    border-radius: 3px;
}
#content-svg1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
   /* Add a semi-transparent background */
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
  #content-svg2 {
    padding: 50px 20px;
  }
  #flood {
    width: 150px;
    height: 250px;
  }

  #image-description {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .arrow {
    /* transform: translateY(-150px); */
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
  }
  .story-section {
    display: inline;
  }
  .left-arrow {
    margin-right: 16px;
    color: black;
  }
  
  .right-arrow {
    margin-left: 16px;
    color: black;

  }
  #building {
    display:none; 
    height: 40px;
    transform: translate(520px, 650px);
  }

  #war {
    display: none;
    height: 40px;
    transform: translate(570px, 580px);
  }
  #woods {
    display: none;
    height: 40px;
    transform: translate(530px, 510px);
  }
  #storySection {
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .redHidden {
    opacity: 0;
    transform: scale(0.8);
  }
#redFinish {
    opacity:0;
}

#content-svg3 {
    align-items: center;
    text-align: center;
    justify-content:center;
    padding: 100px 20px;
   
}
#nilf {
    border:solid 1px #52b547;
    border-radius: 3px;
    height: 400px;
    width: 500px;
}
  
  @keyframes flashAnimation {
    0% {
      fill: red; /* Starting color */
    }
    50% {
      fill: yellow; /* Flashing color */
    }
    100% {
        fill: red;
    }
  }

  @keyframes flushAnimation {
    from {
      height: 0;
    }
    to {
        fill: aqua;
        height: 100%;
    }
   
  }

  @keyframes gradient-fill-animation {
    from {
        fill: aqua;
        height:0;
    }
    to {
      fill: url(#gradient1); /* Gradient color */
      height: 100;

    }
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  