
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

/* user profile page*/


body, h1, p {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 12%, rgba(166,160,160,1) 38%, rgba(255,255,255,1) 25%);; 
}

.top-content {
    display: flex;
    width: 10000%;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: aqua;
    height: 30%;
    
}

.profile-section {
    display: flex;
    background-color: #ffecd4; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    width: 60vw;
    height: 80vh;
    text-align: center;
}

.right-content {
    width: 20%;
    height: 100%;
    border-width: 5px;
    border-left: solid;
    border-color: black;
    padding-right: 0px;
    margin-right: 0px;
}

.media-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 100%;

}

.media-icons a {
    text-decoration: none;
    position: relative;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: 6px;
}

.media-icons a i {
    color: #fff;
}

.media-icons a .tooltip {
    position: absolute;
    left: 55px;
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    transform: translateY(-25px);
    opacity: 0;
    transition: all 0.2s linear;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.media-icons > a:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
}
.media-icons > a .tooltip::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    left: -5px;
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff;
}

.profile-circle {
    border: solid;
    border-width: 1px;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    vertical-align: middle;
}

.profile-circle > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.posts-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.recent-posts,
.liked-posts {
    width: 50%; 
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 20px;
}
